@model HealthCareApp.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Appointment</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DoctorUserName" class="control-label">Doctor's Username</label>
                <input asp-for="DoctorUserName" class="form-control" />
                <span asp-validation-for="DoctorUserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PatientUserName" class="control-label">Your Username</label>
                <input asp-for="PatientUserName" class="form-control" />
                <span asp-validation-for="PatientUserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label">Appointment Date</label>
                <input asp-for="Date"  class="form-control datepicker" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create Appointment" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}
