@model HealthCareApp.Models.PostViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1>New Post</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="DoctorUserName" class="form-label">Your Username</label>
                    <input asp-for="DoctorUserName" class="form-control" />
                    <span asp-validation-for="DoctorUserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DatePublished" class="form-label">Date Published</label>
                    <input asp-for="DatePublished" class="form-control datepicker" />
                    <span asp-validation-for="DatePublished" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Photo" class="form-label">Photo</label>
                    <input asp-for="Photo"  class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Post</button>
                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}