<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthCareApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthCareApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 row">
                        <li class="nav-item col-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DocterViewModel" asp-action="Index">Profile</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppointmentViewModel" asp-action="Index">Appointments</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ChatViewModel" asp-action="Index">Chats</a>
                        </li>
                        <li class="nav-item col-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PostViewModel" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item col-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h5>This is dash board page for doctor !!!</h5>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


